<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.7.82" targetFramework="net462" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net462" />
  <package id="Fody" version="6.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="jnm2.ReferenceAssemblies.net35" version="1.0.1" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net462" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net462" version="1.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Mono.Cecil" version="0.11.2" targetFramework="net462" />
  <package id="Scriban" version="2.1.2" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net462" />
</packages>